{% extends 'base.html.twig' %}

{% block title %} Nous contacter {% endblock %}

{% block body %}

    <div id="container_main">

        <div id="container_infos">

            <h1>Vous souhaitez nous contacter ?</h1>
            <h3>Nous serions ravis de discuter avec vous.</h3>
            <h4 class="needToMove">Adresse :</h4><p>20 Rue du Truc 75000 Paris</p>
            <h4>Numéro de téléphone :</h4><p>05 76 54 27 83</p>
            <h4>Adresse e-mail :</h4><p>infostourismecontact@gmail.com</p>
            <p>Ou remplissez directement notre formulaire de contact,<br>
                nous vous apporterons une réponse rapide.</p>

        </div>

        <div id="container_form">

            {{ form_start(contactForm, {'attr': {'id': 'contact'}} ) }}

                <div class="my-custom-class-for-errors">
                    {{ form_errors(contactForm) }}
                </div>

                {% for message in app.flashes('message') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                <h3>Formulaire de contact</h3>
                <h4>Un problème ? Une question ? N'hésitez pas à nous contacter !</h4>
                    
                <div class="row">
                    <div class="col">
                        {{ form_widget(contactForm.name, {'attr': {'placeholder': 'Nom & prénom'}}) }}
                    </div>

                    <div class="col">
                        {{ form_widget(contactForm.email, {'attr': {'placeholder': 'Adresse e-mail'}}) }}
                    </div>

                    <div class="col">
                        {{ form_widget(contactForm.subject, {'attr': {'placeholder': 'Objet'}}) }}
                    </div>

                    <div class="col">
                        {{ form_widget(contactForm.message, {'attr': {'placeholder': 'Entrez votre message ici...'}}) }}
                    </div>
                </div>

            {{ form_end(contactForm) }}

        </div>

    </div>
        

{% endblock %}