<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">

    
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

    {% block header %}
    <header>
    <div class="container">
    
        <div id="icone" class="row justify-content-between">
            <div class="col-md-1">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="50" height="50"
                    viewBox="0 0 172 172"
                    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M37.84,0c-1.89469,0 -3.44,1.54531 -3.44,3.44v48.16c0,13.30313 7.68625,19.14844 12.7925,23.005c2.35156,1.77375 4.4075,3.29219 4.4075,4.515c0,2.86219 -0.55094,9.44656 -1.1825,17.0925c-1.00781,12.12063 -2.2575,27.22438 -2.2575,37.9475c0,27.22438 4.34031,37.84 15.48,37.84c11.13969,0 15.48,-10.61562 15.48,-37.84c0,-10.72312 -1.24969,-25.82687 -2.2575,-37.9475c-0.63156,-7.64594 -1.1825,-14.23031 -1.1825,-17.0925c0,-1.1825 1.98875,-2.70094 4.3,-4.4075c5.13313,-3.81625 12.9,-9.54062 12.9,-23.1125v-48.16c0,-1.89469 -1.53187,-3.44 -3.44,-3.44h-10.32c-1.89469,0 -3.44,1.54531 -3.44,3.44v36.12c0,0.84656 -0.87344,1.72 -1.72,1.72c-0.84656,0 -1.72,-0.87344 -1.72,-1.72v-36.12c0,-1.89469 -1.54531,-3.44 -3.44,-3.44h-10.32c-1.89469,0 -3.44,1.54531 -3.44,3.44v36.12c0,0.84656 -0.87344,1.72 -1.72,1.72c-0.84656,0 -1.72,-0.87344 -1.72,-1.72v-36.12c0,-1.89469 -1.54531,-3.44 -3.44,-3.44zM103.2,0c-1.90812,0 -3.44,1.54531 -3.44,3.44v41.28c0,34.56125 -1.37062,52.16438 -2.365,65.0375c-0.60469,7.71313 -1.075,13.84063 -1.075,20.9625c0,31.25563 3.7625,41.28 15.48,41.28c11.7175,0 15.48,-10.02437 15.48,-41.28c0,-12.24156 -4.09844,-20.06219 -7.095,-25.8c-1.80062,-3.42656 -3.225,-6.15437 -3.225,-8.6c0,-4.47469 2.87563,-7.525 7.6325,-12.1475c5.77813,-5.63031 13.0075,-12.64469 13.0075,-25.6925c0,-21.715 -7.24281,-58.48 -34.4,-58.48z"></path></g></g></svg>
    
            </div>
            <div class="col-md-1">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
    width="50" height="50"
    viewBox="0 0 172 172"
    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M87.35719,5.48922c-0.99416,-0.19221 -2.05997,-0.00091 -2.96297,0.61141c-1.81288,1.22464 -2.28276,3.67978 -1.06156,5.48922c1.50672,2.22912 2.1199,4.11408 1.8275,5.59672c-0.2064,1.02512 -0.81694,1.84207 -1.7939,3.08391c-1.31408,1.6684 -3.10982,3.95783 -3.1511,7.37719c-0.02752,2.84832 1.14144,5.58393 3.46688,8.13641c0.78088,0.85656 1.84937,1.29 2.92265,1.29c0.95288,0 1.90711,-0.33997 2.66735,-1.02797c1.6168,-1.47232 1.72763,-3.97664 0.25531,-5.59c-0.63984,-0.7052 -1.4011,-1.75429 -1.39078,-2.72781c0.00688,-0.66048 0.42597,-1.26264 1.45797,-2.57328c1.15928,-1.47576 2.75114,-3.4988 3.3325,-6.43656c0.71896,-3.6292 -0.30552,-7.51425 -3.03688,-11.55625c-0.61404,-0.90644 -1.53881,-1.48076 -2.53297,-1.67297zM143.34453,26.10234c-2.02272,-0.04128 -4.03227,1.58482 -4.13203,3.76922c-0.04472,0.95632 -0.24918,2.23826 -0.94063,2.91594c-0.47472,0.4644 -1.19411,0.59001 -2.84875,0.78609c-1.86448,0.2236 -4.41648,0.53207 -6.90016,2.19703c-3.07536,2.05368 -5.10464,5.52464 -6.03344,10.32c-0.41624,2.14656 0.98782,4.2197 3.13094,4.63594c0.25456,0.04816 0.50482,0.0739 0.7525,0.0739c1.8576,0 3.5188,-1.31284 3.88344,-3.20484c0.51256,-2.64536 1.40831,-4.41126 2.66735,-5.25406c0.86344,-0.58136 1.86808,-0.72799 3.43328,-0.91375c2.11216,-0.25112 5.00526,-0.59905 7.4511,-2.98985c2.03304,-1.98832 3.14394,-4.74655 3.30562,-8.19687c0.1032,-2.18096 -1.58482,-4.03555 -3.76922,-4.13875zM30.80547,26.16953c-2.18096,-0.43688 -4.22314,0.9911 -4.63594,3.13766c-0.41624,2.14312 0.98782,4.21298 3.13094,4.62922c2.64192,0.51256 4.41142,1.41174 5.24734,2.66734c0.58136,0.86688 0.72455,1.87136 0.91375,3.44c0.25112,2.10872 0.59904,5.00197 2.98984,7.44438c1.98832,2.0296 4.74984,3.14394 8.2036,3.30562c0.06192,0.00344 0.12276,0.00672 0.18813,0.00672c2.10184,0 3.8507,-1.65018 3.95734,-3.76922c0.1032,-2.18096 -1.58482,-4.03555 -3.76922,-4.13875c-0.95632,-0.04128 -2.23826,-0.24575 -2.91594,-0.94063c-0.4644,-0.47472 -0.58658,-1.19411 -0.7861,-2.84875c-0.22704,-1.86448 -0.53879,-4.41632 -2.20375,-6.90688c-2.05712,-3.07192 -5.52808,-5.10136 -10.32,-6.02672zM86,46.44c-21.8096,0 -39.56,17.7504 -39.56,39.56c0,21.8096 17.7504,39.56 39.56,39.56c21.8096,0 39.56,-17.7504 39.56,-39.56c0,-21.8096 -17.7504,-39.56 -39.56,-39.56zM98.04,68.00719c4.0248,0 7.63626,2.58457 8.90906,6.40297c0.688,2.0984 -0.41522,4.33091 -2.47922,5.01891c-0.4128,0.1376 -0.85705,0.20828 -1.26985,0.20828c-1.6512,0 -3.19866,-1.0363 -3.74906,-2.6875c-0.4128,-1.204 -2.40907,-1.204 -2.82187,0c-0.688,2.064 -2.92051,3.16722 -5.01891,2.47922c-2.064,-0.688 -3.16722,-2.92051 -2.47922,-5.01891c1.2728,-3.8184 4.88426,-6.40297 8.90906,-6.40297zM73.96,68.18187h0.17469c3.8528,0.0688 7.25679,2.4416 8.66719,6.0536c0.7912,2.064 -0.20774,4.3352 -2.23734,5.1264c-0.4816,0.172 -0.96293,0.27547 -1.44453,0.27547c-1.5824,0 -3.06267,-0.96481 -3.68187,-2.51281c-0.2408,-0.6192 -0.82533,-1.03469 -1.44453,-1.03469c-0.688,-0.0688 -1.27092,0.38109 -1.51172,1.03469c-0.7912,2.0296 -3.0968,3.02855 -5.1264,2.23734c-2.0296,-0.7912 -3.02854,-3.0968 -2.23734,-5.1264c1.4104,-3.6464 4.95467,-6.0536 8.84187,-6.0536zM146.67703,76.64078c-2.81252,0.11078 -5.76748,1.19405 -8.80156,3.24515c-1.81288,1.22464 -2.28276,3.6865 -1.06156,5.49594c1.22464,1.80944 3.67978,2.2862 5.48922,1.06156c1.53424,-1.03888 3.73896,-2.19214 5.60344,-1.8275c1.02168,0.20296 1.83535,0.81023 3.07719,1.78719c1.67184,1.31408 3.96127,3.10981 7.37719,3.15109h0.1075c2.80704,0 5.51083,-1.16223 8.02891,-3.46015c1.6168,-1.47232 1.73435,-3.9732 0.26203,-5.59c-1.47576,-1.61336 -3.96976,-1.73091 -5.59,-0.26203c-0.70176,0.63984 -1.74445,1.3975 -2.70765,1.3975h-0.02015c-0.66048,-0.00688 -1.25592,-0.42597 -2.56656,-1.45797c-1.47576,-1.15928 -3.4988,-2.74442 -6.43656,-3.32578c-0.90472,-0.1806 -1.8239,-0.25192 -2.7614,-0.215zM14.84844,76.78187c-2.752,0.03784 -5.58049,1.13472 -8.13641,3.46016c-1.6168,1.47232 -1.73435,3.9732 -0.26203,5.59c1.47576,1.61336 3.9732,1.72747 5.59,0.26203c0.70176,-0.63984 1.73774,-1.3975 2.70094,-1.3975h0.02688c0.66048,0.00688 1.25592,0.42597 2.56656,1.45797c1.47576,1.15928 3.4988,2.75114 6.43656,3.3325c0.74992,0.14792 1.51038,0.215 2.28438,0.215c2.96184,0 6.06907,-1.08484 9.27859,-3.24516c1.80944,-1.22464 2.2862,-3.6865 1.06156,-5.49594c-1.22464,-1.81288 -3.68306,-2.2862 -5.49594,-1.06156c-1.52736,1.03544 -3.75304,2.19902 -5.59,1.8275c-1.02512,-0.20296 -1.83879,-0.81694 -3.07719,-1.7939c-1.67528,-1.31408 -3.96799,-3.11326 -7.38391,-3.1511zM68.8,89.44h34.4c1.032,0 2.02718,0.48455 2.68078,1.31015c0.6536,0.7912 0.89843,1.85706 0.69203,2.88906c-2.1672,9.5288 -10.80321,16.44078 -20.57281,16.44078c-9.7696,0 -18.40561,-6.91198 -20.57281,-16.44078c-0.2064,-1.032 0.03843,-2.09786 0.69203,-2.88906c0.6536,-0.8256 1.64878,-1.31015 2.68078,-1.31015zM123.68547,122.48953c-2.15344,-0.43344 -4.22314,0.98782 -4.63594,3.13094c-0.41624,2.14656 0.98782,4.2197 3.13094,4.63594c2.64192,0.51256 4.40799,1.41175 5.24735,2.66735c0.58136,0.86688 0.72455,1.87136 0.91375,3.44c0.25112,2.10872 0.59904,4.99854 2.98984,7.44438c1.98832,2.03304 4.75328,3.14394 8.2036,3.30562c0.06192,0.00344 0.12277,0.00672 0.18813,0.00672c2.10184,0 3.84742,-1.65018 3.95062,-3.76922c0.1032,-2.18096 -1.5781,-4.03899 -3.7625,-4.13875c-0.95632,-0.04472 -2.24497,-0.24246 -2.92265,-0.9339c-0.4644,-0.47472 -0.58658,-1.20083 -0.7861,-2.85547c-0.22704,-1.86448 -0.53207,-4.4096 -2.19703,-6.90016c-2.05712,-3.07536 -5.52808,-5.10464 -10.32,-6.03344zM42.56328,122.49625c-1.51414,0.31589 -2.74071,1.52102 -3.05031,3.13094c-0.50912,2.63848 -1.40158,4.40455 -2.66062,5.24735c-0.86688,0.58136 -1.87136,0.72455 -3.44,0.91375c-2.10872,0.25112 -4.99853,0.59904 -7.44438,2.98985c-2.03304,1.98832 -3.14394,4.74655 -3.30562,8.19687c-0.1032,2.18096 1.5781,4.03899 3.7625,4.13875c0.06192,0.00344 0.12277,0.00672 0.18813,0.00672c2.10184,0 3.8543,-1.65706 3.95062,-3.76922c0.04472,-0.95632 0.24247,-2.23826 0.93391,-2.91594c0.47472,-0.46096 1.19411,-0.58658 2.84875,-0.7861c1.86448,-0.2236 4.41631,-0.53535 6.90688,-2.20375c3.07536,-2.05712 5.09792,-5.5248 6.02672,-10.31328c0.41624,-2.14656 -0.9811,-4.2197 -3.12422,-4.63594c-0.54524,-0.10922 -1.08763,-0.10529 -1.59235,0zM87.35719,136.20922c-0.99459,-0.19135 -2.05997,-0.00091 -2.96297,0.61141c-1.80944,1.22464 -2.2862,3.67978 -1.06156,5.48922c1.50328,2.22568 2.1199,4.11064 1.8275,5.59672c-0.2064,1.02512 -0.81367,1.83879 -1.78719,3.07719c-1.31752,1.67528 -3.11653,3.96454 -3.15781,7.3839c-0.02752,2.84488 1.13472,5.58393 3.46016,8.13641c0.78432,0.85656 1.85265,1.29 2.92937,1.29c0.94944,0 1.90367,-0.33981 2.66735,-1.03469c1.6168,-1.47232 1.73435,-3.9732 0.26203,-5.59c-0.64328,-0.7052 -1.40782,-1.75101 -1.3975,-2.72109c0.00688,-0.66048 0.42597,-1.26264 1.45797,-2.57328c1.15928,-1.47576 2.75114,-3.49536 3.3325,-6.43656c0.71896,-3.62576 -0.30208,-7.52097 -3.03688,-11.56297c-0.61232,-0.90644 -1.53838,-1.4749 -2.53297,-1.66625z"></path></g></g></svg>
            </div>
            <div class="col-md-1">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
    width="50" height="50"
    viewBox="0 0 172 172"
    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M10.32,13.76v68.8h49.70531l25.97469,-40.79625l25.97469,40.79625h49.70531v-68.8zM86,54.55625l-22.18531,34.88375h-43.17469v68.8h51.6v-37.84c0,-7.6024 6.1576,-13.76 13.76,-13.76c7.6024,0 13.76,6.1576 13.76,13.76v37.84h51.6v-68.8h-43.17469zM37.84,106.64h20.64v24.08h-20.64zM113.52,106.64h20.64v24.08h-20.64z"></path></g></g></svg>
            </div>
            <div class="col-md-1">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                width="50" height="50"
                viewBox="0 0 172 172"
                style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M86,0c-1.935,0 -3.44,1.505 -3.44,3.44v7.095c-24.45625,2.06938 -73.34187,24.45625 -81.3775,54.61c2.62031,2.82188 4.81063,4.07156 4.8375,4.085c0.13438,0.06719 7.01438,3.655 12.5775,3.655c4.75688,0 12.01313,-2.70094 14.405,-3.7625c0.02688,-0.01344 0.08063,0.01344 0.1075,0c4.01781,-35.83781 39.8825,-53.50812 49.45,-57.62c1.23625,-0.52406 2.02906,-0.88687 2.2575,-0.9675c0.12094,-0.05375 0.20156,-0.06719 0.3225,-0.1075c0.24188,-0.06719 0.51063,-0.09406 0.7525,-0.1075c0.17469,0 0.36281,0.08063 0.5375,0.1075c0.16125,0.02688 0.26875,-0.05375 0.43,0c0.06719,0.01344 1.02125,0.29563 2.58,0.86c9.95719,3.5475 45.86219,19.00063 49.5575,57.835c0.04031,0.01344 0.06719,-0.01344 0.1075,0c0.08063,0.04031 7.94156,3.7625 14.62,3.7625c6.38281,0 11.87875,-3.50719 11.9325,-3.5475c0.06719,-0.04031 2.55313,-1.70656 5.16,-4.1925c-8.02219,-30.15375 -56.92125,-52.54062 -81.3775,-54.61v-7.095c0,-1.935 -1.505,-3.44 -3.44,-3.44zM85.785,18.8125c-4.04469,4.97188 -12.40281,19.06781 -13.4375,51.17c2.75469,1.11531 8.02219,2.9025 13.33,2.9025c5.38844,0 11.00531,-1.77375 13.975,-2.9025c-1.14219,-30.43594 -9.79594,-45.66062 -13.8675,-51.17zM95.46,21.285c4.74344,8.86875 10.19906,24.22781 11.0725,48.6975c2.52625,1.08844 7.65938,2.9025 13.545,2.9025c4.73,0 9.1375,-1.10187 12.1475,-2.15c-2.27094,-28.29937 -23.58281,-43.01344 -36.765,-49.45zM75.1425,23.005c-13.26281,7.80719 -33.01594,23.42156 -35.3675,47.8375c2.82188,0.99438 7.05469,2.0425 12.1475,2.0425c6.46344,0 11.26063,-1.73344 13.545,-2.795c0.72563,-23.46187 5.2675,-38.21625 9.675,-47.085zM172,73.315c-1.43781,1.11531 -2.4725,1.76031 -2.58,1.8275c-0.24187,0.16125 -7.17562,4.6225 -15.695,4.6225c-6.36937,0 -13.16875,-2.51281 -16.125,-3.7625c-2.96969,1.26313 -9.86312,3.7625 -17.5225,3.7625c-7.60562,0 -14.12281,-2.45906 -16.985,-3.7625c-3.07719,1.23625 -10.26625,3.7625 -17.415,3.7625c-7.01437,0 -13.74656,-2.37844 -16.77,-3.655c-2.795,1.35719 -8.82844,3.655 -16.985,3.655c-8.33125,0 -14.76781,-2.44562 -17.63,-3.7625c-3.06375,1.23625 -10.11844,3.7625 -15.695,3.7625c-7.32344,0 -15.46656,-4.32687 -15.8025,-4.515c-0.05375,-0.02687 -1.16906,-0.57781 -2.795,-1.8275c0,0.08063 0,0.13438 0,0.215c0,10.62906 8.98969,19.2425 19.995,19.2425c6.08719,0 12.16094,-3.41312 15.91,-8.0625c3.25188,5.03906 8.78813,8.0625 15.695,8.0625c7.96844,0 13.55844,-3.82969 16.8775,-8.6c3.3325,4.04469 8.82844,7.14875 14.0825,8.17v54.825c0,0.29563 0.04031,0.57781 0.1075,0.86c-11.08594,1.12875 -19.35,7.31 -19.35,7.31c-1.54531,1.12875 -1.88125,3.29219 -0.7525,4.8375c1.12875,1.54531 3.29219,1.88125 4.8375,0.7525c0,0 8.64031,-6.235 18.5975,-6.235c9.95719,0 18.5975,6.235 18.5975,6.235c1.54531,1.12875 3.70875,0.79281 4.8375,-0.7525c1.12875,-1.54531 0.79281,-3.70875 -0.7525,-4.8375c0,0 -8.26406,-6.18125 -19.35,-7.31c0.06719,-0.28219 0.1075,-0.56437 0.1075,-0.86v-54.825c5.14656,-0.99437 10.23938,-3.91031 13.545,-7.6325c3.25188,5.07938 8.76125,8.0625 15.695,8.0625c7.94156,0 13.545,-3.74906 16.8775,-8.4925c3.60125,4.95844 9.84969,8.4925 16.4475,8.4925c11.00531,0 19.995,-8.61344 19.995,-19.2425c0,-0.12094 0,-0.20156 0,-0.3225zM34.4,141.04c-1.89469,0 -3.44,1.54531 -3.44,3.44c0,1.89469 1.54531,3.44 3.44,3.44c1.89469,0 3.44,-1.54531 3.44,-3.44c0,-1.89469 -1.54531,-3.44 -3.44,-3.44zM55.04,141.04c-1.89469,0 -3.44,1.54531 -3.44,3.44c0,1.89469 1.54531,3.44 3.44,3.44c1.89469,0 3.44,-1.54531 3.44,-3.44c0,-1.89469 -1.54531,-3.44 -3.44,-3.44zM116.96,141.04c-1.89469,0 -3.44,1.54531 -3.44,3.44c0,1.89469 1.54531,3.44 3.44,3.44c1.89469,0 3.44,-1.54531 3.44,-3.44c0,-1.89469 -1.54531,-3.44 -3.44,-3.44zM137.6,141.04c-1.89469,0 -3.44,1.54531 -3.44,3.44c0,1.89469 1.54531,3.44 3.44,3.44c1.89469,0 3.44,-1.54531 3.44,-3.44c0,-1.89469 -1.54531,-3.44 -3.44,-3.44zM24.08,151.36c-1.89469,0 -3.44,1.54531 -3.44,3.44c0,1.89469 1.54531,3.44 3.44,3.44c1.89469,0 3.44,-1.54531 3.44,-3.44c0,-1.89469 -1.54531,-3.44 -3.44,-3.44zM44.72,151.36c-1.89469,0 -3.44,1.54531 -3.44,3.44c0,1.89469 1.54531,3.44 3.44,3.44c1.89469,0 3.44,-1.54531 3.44,-3.44c0,-1.89469 -1.54531,-3.44 -3.44,-3.44zM127.28,151.36c-1.89469,0 -3.44,1.54531 -3.44,3.44c0,1.89469 1.54531,3.44 3.44,3.44c1.89469,0 3.44,-1.54531 3.44,-3.44c0,-1.89469 -1.54531,-3.44 -3.44,-3.44zM147.92,151.36c-1.89469,0 -3.44,1.54531 -3.44,3.44c0,1.89469 1.54531,3.44 3.44,3.44c1.89469,0 3.44,-1.54531 3.44,-3.44c0,-1.89469 -1.54531,-3.44 -3.44,-3.44zM34.4,161.68c-1.89469,0 -3.44,1.54531 -3.44,3.44c0,1.89469 1.54531,3.44 3.44,3.44c1.89469,0 3.44,-1.54531 3.44,-3.44c0,-1.89469 -1.54531,-3.44 -3.44,-3.44zM55.04,161.68c-1.89469,0 -3.44,1.54531 -3.44,3.44c0,1.89469 1.54531,3.44 3.44,3.44c1.89469,0 3.44,-1.54531 3.44,-3.44c0,-1.89469 -1.54531,-3.44 -3.44,-3.44zM75.68,161.68c-1.89469,0 -3.44,1.54531 -3.44,3.44c0,1.89469 1.54531,3.44 3.44,3.44c1.89469,0 3.44,-1.54531 3.44,-3.44c0,-1.89469 -1.54531,-3.44 -3.44,-3.44zM96.32,161.68c-1.89469,0 -3.44,1.54531 -3.44,3.44c0,1.89469 1.54531,3.44 3.44,3.44c1.89469,0 3.44,-1.54531 3.44,-3.44c0,-1.89469 -1.54531,-3.44 -3.44,-3.44zM116.96,161.68c-1.89469,0 -3.44,1.54531 -3.44,3.44c0,1.89469 1.54531,3.44 3.44,3.44c1.89469,0 3.44,-1.54531 3.44,-3.44c0,-1.89469 -1.54531,-3.44 -3.44,-3.44zM137.6,161.68c-1.89469,0 -3.44,1.54531 -3.44,3.44c0,1.89469 1.54531,3.44 3.44,3.44c1.89469,0 3.44,-1.54531 3.44,-3.44c0,-1.89469 -1.54531,-3.44 -3.44,-3.44z"></path></g></g></svg>
            </div>
            <div class="col-md-1">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                width="50" height="50"
                viewBox="0 0 172 172"
                style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M44.72,-0.3225c-22.93781,0 -41.6025,18.66469 -41.6025,41.6025c0,22.93781 18.66469,41.6025 41.6025,41.6025c8.76125,0 16.93125,-2.78156 23.65,-7.4175l28.0575,34.0775c-0.06719,0.24188 -0.09406,0.49719 -0.1075,0.7525v38.1625c-3.21156,0.60469 -9.93031,1.97531 -18.1675,4.4075c-5.28094,1.55875 -10.58875,3.41313 -14.835,5.6975c-2.12312,1.14219 -3.9775,2.43219 -5.4825,3.9775c-1.505,1.54531 -2.795,3.58781 -2.795,6.02c0,1.89469 1.54531,3.44 3.44,3.44h82.56c1.89469,0 3.44,-1.54531 3.44,-3.44c0,-2.43219 -1.29,-4.47469 -2.795,-6.02c-1.505,-1.54531 -3.35937,-2.83531 -5.4825,-3.9775c-4.24625,-2.28437 -9.55406,-4.13875 -14.835,-5.6975c-8.23719,-2.43219 -14.95594,-3.80281 -18.1675,-4.4075v-38.1625c-0.01344,-0.215 -0.05375,-0.43 -0.1075,-0.645l54.395,-66.22c0.83313,-1.03469 0.99438,-2.44562 0.41656,-3.64156c-0.57781,-1.19594 -1.78719,-1.94844 -3.10406,-1.94844h-68.585c-1.76031,-21.35219 -19.71281,-38.1625 -41.495,-38.1625zM44.72,7.2025c17.68375,0 32.11563,13.4375 33.8625,30.6375h-15.05c1.41094,-1.1825 2.05594,-2.51281 1.1825,-4.1925c-2.98312,-5.73781 -13.50469,2.45906 -17.2,5.59l-0.1075,-0.1075c-0.3225,-0.40312 -0.72562,-0.73906 -1.1825,-0.9675c0.83313,-5.16 2.41875,-18.07344 -3.7625,-17.415c-6.26187,0.67188 -1.96187,13.23594 -0.1075,17.9525c-0.37625,0.36281 -0.67187,0.80625 -0.86,1.29c-3.99094,-2.13656 -16.52812,-8.31781 -18.1675,-1.935c-1.8275,7.12188 16.56844,5.56313 18.705,5.375l0.3225,0.43c-1.27656,1.20938 -14.20344,13.67938 -8.4925,17.63c5.20031,3.58781 9.52719,-10.93812 10.6425,-15.05l19.135,23.22c-5.41531,3.62813 -11.89219,5.6975 -18.92,5.6975c-18.85281,0 -34.0775,-15.22469 -34.0775,-34.0775c0,-18.85281 15.22469,-34.0775 34.0775,-34.0775zM52.03,44.72h95.46l-8.4925,10.32h-78.475zM66.22,61.92h67.08l-33.54,40.85zM99.76,154.9075c0.51063,0.09406 9.86313,1.73344 19.6725,4.6225c5.03906,1.47813 10.05125,3.27875 13.545,5.16c0.28219,0.16125 0.37625,0.26875 0.645,0.43h-67.725c0.26875,-0.16125 0.36281,-0.26875 0.645,-0.43c3.49375,-1.88125 8.50594,-3.68187 13.545,-5.16c9.80938,-2.88906 19.16188,-4.52844 19.6725,-4.6225z"></path></g></g></svg>
            </div>
            <div class="col-md-1">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
    width="50" height="50"
    viewBox="0 0 172 172"
    style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M124.8075,6.7725c-9.00312,0.13438 -18.44969,3.39969 -26.445,11.395c-7.26969,7.26969 -15.77562,19.14844 -20.3175,32.035c-1.35719,3.85656 -2.24406,7.83406 -2.6875,11.825h-0.3225c0,0 -1.49156,9.04344 -4.1925,19.35c-2.70094,10.30656 -7.02781,21.97031 -10.965,25.9075l-15.1575,15.1575l4.8375,4.8375l15.1575,-15.1575c3.93719,-3.93719 15.62781,-8.385 26.015,-11.18c10.38719,-2.795 19.565,-4.3 19.565,-4.3l-0.1075,-0.43c3.81625,-0.45687 7.61906,-1.29 11.2875,-2.58c12.88656,-4.54187 24.65781,-13.04781 31.9275,-20.3175c17.18656,-16.81031 13.69281,-41.3875 0.7525,-54.7175l-0.3225,-0.43c-5.96625,-5.96625 -15.09031,-10.44094 -25.155,-11.2875c-1.26312,-0.1075 -2.58,-0.12094 -3.87,-0.1075zM126.205,13.6525c0.645,0.01344 1.29,0.05375 1.935,0.1075c0.04031,0 0.06719,0 0.1075,0l-0.9675,0.9675zM121.475,13.8675l3.3325,3.3325l-4.4075,4.4075l-5.9125,-5.9125c2.31125,-0.88687 4.66281,-1.53187 6.9875,-1.8275zM132.44,14.405c2.35156,0.51063 4.55531,1.33031 6.665,2.2575l-4.945,4.945l-4.4075,-4.4075zM111.0475,17.2h0.1075l6.7725,6.88l-4.4075,4.4075l-7.74,-7.74c1.72,-1.41094 3.48031,-2.58 5.2675,-3.5475zM142.4375,18.275c1.92156,1.10188 3.655,2.33813 5.16,3.655l-6.5575,6.5575l-4.4075,-4.4075zM127.28,19.6725l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM103.2,23.1125l7.8475,7.8475l-4.4075,4.4075l-7.6325,-7.6325c1.43781,-1.70656 2.84875,-3.27875 4.1925,-4.6225zM150.07,24.4025c1.37063,1.54531 2.70094,3.21156 3.7625,5.0525l-5.9125,5.9125l-4.4075,-4.4075zM120.4,26.5525l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM134.16,26.5525l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM96.8575,30.53l7.31,7.31l-4.4075,4.4075l-6.5575,-6.5575c1.20938,-1.8275 2.40531,-3.53406 3.655,-5.16zM155.445,32.7875c0.91375,2.10969 1.67969,4.36719 2.15,6.665l-2.795,2.795l-4.4075,-4.4075zM113.52,33.4325l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM127.28,33.4325l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM141.04,33.4325l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM91.2675,38.7l6.02,6.02l-4.4075,4.4075l-4.8375,-4.8375c0.9675,-1.90812 2.12313,-3.77594 3.225,-5.59zM106.64,40.3125l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM120.4,40.3125l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM134.16,40.3125l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM147.92,40.3125l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM158.1325,43.7525c0.04031,0.645 0.1075,1.29 0.1075,1.935l-0.9675,-0.9675zM99.76,47.1925l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM113.52,47.1925l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM127.28,47.1925l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM141.04,47.1925l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM154.8,47.1925l3.1175,3.1175c-0.33594,2.33813 -0.91375,4.59563 -1.8275,6.88l-5.6975,-5.59zM86.43,47.6225l3.9775,3.9775l-4.4075,4.4075l-1.935,-1.935c0.17469,-0.5375 0.24188,-1.075 0.43,-1.6125c0.56438,-1.62594 1.22281,-3.23844 1.935,-4.8375zM92.88,54.0725l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM106.64,54.0725l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM120.4,54.0725l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM134.16,54.0725l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM147.92,54.0725l6.5575,6.5575c-0.98094,1.77375 -2.15,3.60125 -3.5475,5.2675l-7.4175,-7.4175zM82.99,57.9425l0.5375,0.5375l-0.9675,0.9675c0.1075,-0.51062 0.30906,-0.99437 0.43,-1.505zM86,60.9525l4.4075,4.4075l-7.74,7.74c-0.67187,-2.53969 -0.98094,-5.20031 -0.86,-7.955zM99.76,60.9525l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM113.52,60.9525l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM127.28,60.9525l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM141.04,60.9525l7.525,7.4175v0.1075c-1.34375,1.34375 -2.91594,2.75469 -4.6225,4.1925l-7.31,-7.31zM92.88,67.8325l4.4075,4.4075l-9.7825,9.7825c-1.46469,-1.66625 -2.67406,-3.39969 -3.5475,-5.2675zM106.64,67.8325l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM120.4,67.8325l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM134.16,67.8325l6.9875,6.9875c-1.62594,1.24969 -3.3325,2.44563 -5.16,3.655l-6.235,-6.235zM99.76,74.7125l4.4075,4.4075l-8.815,8.815c-1.89469,-0.83312 -3.68187,-2.00219 -5.375,-3.44zM113.52,74.7125l4.4075,4.4075l-4.4075,4.4075l-4.4075,-4.4075zM127.28,74.7125l5.6975,5.6975c-1.81406,1.10188 -3.68187,2.2575 -5.59,3.225l-4.515,-4.515zM78.1525,80.5175c1.31688,2.67406 3.05031,5.20031 5.375,7.525c2.44563,2.44563 5.11969,4.24625 7.955,5.59c-0.84656,0.215 -1.6125,0.41656 -2.4725,0.645c-5.53625,1.49156 -11.40844,3.19813 -16.6625,5.375c2.10969,-5.18687 3.73563,-10.99187 5.16,-16.4475c0.24188,-0.94062 0.41656,-1.77375 0.645,-2.6875zM106.64,81.5925l4.4075,4.4075l-3.7625,3.7625c-2.84875,0.18813 -5.65719,0.09406 -8.2775,-0.5375zM120.4,81.5925l3.655,3.655c-1.59906,0.71219 -3.21156,1.37063 -4.8375,1.935c-0.5375,0.18813 -1.075,0.25531 -1.6125,0.43l-1.6125,-1.6125zM113.52,88.4725l0.215,0.215c-0.22844,0.05375 -0.41656,0.16125 -0.645,0.215zM34.7225,127.28c-2.75469,0 -5.4825,1.04813 -7.2025,3.1175l-22.0375,22.0375c-1.37062,1.03469 -2.0425,3.01 -2.0425,4.73c0,1.72 0.67188,3.46688 2.0425,4.8375l4.515,4.515c1.37063,1.37063 3.1175,2.0425 4.8375,2.0425c1.72,0 3.35938,-0.67187 4.73,-2.0425l22.0375,-22.0375c2.06938,-2.06937 3.1175,-4.44781 3.1175,-7.2025v-5.16l-4.8375,-4.8375z"></path></g></g></svg>
    
            </div>    
        </div>
        <div class="justify-content-center" id="nomdusite">
            Smart Travel
        </div>
        <div class="row justify-content-center">
            <div class="col-md-2 bordure">
                <p><a href="{{ path('home') }}" >ACCUEIL</a></p> 
            </div>
            <div class="col-md-2 bordure">
                <p><a href="{{ path('contact') }}" >CONTACT</a> </p>
            </div>
            <div class="col-md-2 bordure">
                <p><a href="{{ path('apropos') }}">A PROPOS</a></p> 
            </div>
            <div class="col-md-2 bordure">
                <p><a href="{{ path('login') }}">SE CONNECTER (Admin)</a></p> 
            </div>
        </div>
    </div>
    </header>
    {% endblock %} 


    <div class="container">
        {% if app.user %}
          <div class="mb-3">
              Vous êtes connecté en tant que {{ app.user.username }} - <a href="{{ path('app_logout') }}">Déconnexion</a>
          </div>
        {% endif %}
        {% block content %}
        
        
        <br>
        <br> Contenu du template BASE !
        <br>
        <br>

        
       
        {% endblock %}
    </div>

{% block footer %}
<footer>
    <div class="row justify-content-around">
        <div class="col-md-3 tt">
            <p class="text-center">Retrouver nous aussi sur : </p>
            <div class="row justify-content-around">
                <div class="col-md-2">
                    <a href="https://www.instagram.com/?hl=fr"><img src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png"/></a>
                </div>
                <div class="col-md-2">
                    <a href="https://www.facebook.com"><img src="https://img.icons8.com/wired/64/000000/facebook-circled.png"/></a>
                </div>
                <div class="col-md-2">
                    <a href="https://www.twitter.com"><img src="https://img.icons8.com/android/48/000000/twitter.png"/></a>
                </div>
            </div>
        </div>
        <div class="col-md-3 tt">
            <div class="row justify-content-center">
                ASSISTANCE
            </div>
            <div class="row justify-content-center">
                <a href="{{ path('aide') }}" >Centre d'aide</a>
            </div>
            <div class="row justify-content-center">
                <a href="{{ path('sav') }}" >Plan du site</a>
            </div>
            <div class="row justify-content-center">
                <a href="{{ path('politique') }}" >Politique de confidentialité</a>
            </div>
        </div>
        <div class="col-md-3 tt">
            <div class="row justify-content-center">
                <form>
                    <label for="email" class="form-label">Inscrivez-vous a la Newsletter :</label>
                    <div class="row">
                        <div class="col-mb-1">
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="col-mb-1">
                            <button type="submit" class="btn btn-dark">OK</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <div class="trait"></div>
    <div class="copyright mt-1 text-center">
        © 2021 POCOS LOCOS, Inc. All rights reserved · 
        <a href="{{ path('cookie') }}" >Cookies</a>
        <a href="{{ path('mention') }}" >· Mentions légales </a> 
    </div>
</footer>
{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    {% block js_importation %}
    
    {% endblock %}
  
  </body>
</html>